*.wasm
*.js
/target
/s-out
/docs-out
std__*
out
.DS_Store
spectre-dev
.q*
out_*
*.ch8
*.o
*.s
*.out
*.ssa
*.exe
.vscode
!bootstrap/*
bootstrap/*.exe
spectre-dev*
sxc2
sxc3
sxc4
test_walk_dir
SPECTRE_LANGUAGE_REFERENCE.md
/s-source-out
/src-out
out.ll
out.c
spectre-stage1
spectre-stage2
generated*
